header {
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 30px;
    top: 0;
    position: relative;
    padding: 5px;
}

.logo{
   align-items: center;
   margin-left: 20px;
   margin-right: 0;
}